<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.deskbtm.nawb.service.permanent">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
